/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Typography
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */


/* #Typography / baseline corrections
================================================== */

h1 { line-height: 49px; margin-bottom: 14px; }
h2 { line-height: 42px; margin-bottom: 7px; }
h3 { line-height: 35px; margin-bottom: 7px; }
h4 { line-height: 28px; margin-bottom: 7px; }
h5 { line-height: 21px;  }

p { margin: 0 0 21px 0; }
p.lead { line-height: 28px; }

blockquote, blockquote p { line-height: 21px; }
blockquote { margin: 0 0 21px; padding: 7px 20px 0 19px; }

hr { margin: 14px 0 28px; }
 
ul, ol { margin-bottom: 21px;}
ul ul, ul ol,
ol ol, ol ul { margin: 7px 0 7px 30px; }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 7px; }
li { line-height: 21px; margin-bottom: 14px; }

.icon {
	font-family: "WebSymbolsRegular";
}


/* #font-face
================================================== */


/* #Site Styles
================================================== */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}




/* bands */

.header {
	position: relative;
	z-index: 400;
	padding-bottom: 7px;
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

header.main {
	padding: 7px 0;
}

header h1.logo {
	margin: 7px 0 0 0;
	float: left;
}

header h1.logo a {
	margin: 0;
	padding: 0;
	width: 336px;
	height: 68px;
	display: block;
	background: url(../img/sprite.png) no-repeat 0 0;
	
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

header nav {
	float: right;
	margin-top: 35px;
}

header nav ul li {
	display: inline;
	padding: 0 7px;
}

header nav ul li a {
	text-decoration: none;
	padding: 7px;
}

header nav ul li a:hover,
header nav ul li a:active,
header nav ul li a.selected {
	background: #141414;
	color: #fff;
}

header nav ul li .highlight {
	font-weight: 700;
}


/* =main */
section {
	padding: 14px 0 21px 0;
	background: url(../img/bgpage.png);
}

section h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 28px;
	color: #336666;
	margin-bottom: 14px;
}


section .setuptitle input[type="text"] {
	font-size: 18px;
	font-weight: bold;
	padding: 7px;
}

section .title {
	margin: 0px 0 14px 0;
}

section textarea {
	height: 280px;
	margin-bottom: 7px;
}

section .setupagenda .sync {
	text-align: right;
	margin: 2px 0 28px 0;
	width: 172px;
	height: 26px;
	background: url(../img/syncs.png) no-repeat 0 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;	
}

section .setuppart .addpart {
	padding-bottom: 7px;
}

.addpart hr:last-child {
	margin-bottom: 14px;
}

section .setuppart .bold {
	font-weight: bold;
}

section .setuppart .initiator
input[type="text"] {
	background: rgba(28, 180, 81, 0.2);
}

section .setuppart .initiator
input[type="email"] {
	background: rgba(28, 180, 81, 0.2);
}

section .setuppart .initiator .highlight {
	font-weight: bold;
	text-align: center;
}


/* =footer */

.footer {
	margin: 0;
	padding: 21px 0 14px 0;
	border-top: 14px solid #141414;
	background: #000;
	background: url(../img/bgsection.png);
	color: #fff;
	
}

.footer h2,
.footer h3,
.footer h4 {
	color: #fff;
}

.footer a {
	color: #fff;
	text-decoration: none;
}

.footer li {
	padding: 7px 0 0 0;
}

.footer li.contact {
	padding: 0 0 0 0;
}

.footer .main a:hover,
.footer .main a:active, {
	color: #fff;
	font-weight: bold;
}

.footer li a:hover,
.footer li a:active { 
	color: #fff;
	-webkit-text-shadow: 0px 2px 15px rgba(255, 255, 255, 0.9);
	-moz-text-shadow: 0px 2px 15px rgba(255, 255, 255, 0.9);
	text-shadow: 0px 2px 15px rgba(255, 255, 255, 0.9);
}

.footer h3 {
	width: 176px;
	height: 35px;
	background: url(../img/sprite.png) no-repeat 0 -70px;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
		
}

.ffooter {
	margin: 0;
	padding: 14px 0 0 0;
	border-top: 2px solid #141414;
	background: #000;
	background: url(../img/bgfooter.png);
	color: #fff;
	
}

.ffooter .last-credit {
	text-align: right;
}

.ffooter a {
	color: #fff;
	text-decoration: none;
}

.ffooter a:hover {
	-webkit-text-shadow: 0px 2px 15px rgba(255, 255, 255, 0.9);
	-moz-text-shadow: 0px 2px 15px rgba(255, 255, 255, 0.9));
	text-shadow: 0px 2px 15px rgba(255, 255, 255, 0.9);
}

.buttonadd input.cbutton {
	background-image: linear-gradient(bottom, rgb(4,141,239) 100%, rgb(0,89,152) 0%);
	background-image: -o-linear-gradient(bottom, rgb(4,141,239) 100%, rgb(0,89,152) 0%);
	background-image: -moz-linear-gradient(bottom, rgb(4,141,239) 100%, rgb(0,89,152) 0%);
	background-image: -webkit-linear-gradient(bottom, rgb(4,141,239) 100%, rgb(0,89,152) 0%);
	background-image: -ms-linear-gradient(bottom, rgb(4,141,239) 100%, rgb(0,89,152) 0%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(1, rgb(4,141,239)),
		color-stop(0, rgb(0,89,152))
	);
		
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .5);
	padding-left: 10px;
	padding-right: 10px;
	height: 28px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #000;
	cursor: pointer;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
	top: -1px;
	position: relative;			
}


.buttonadd input.cbutton:hover {
	-webkit-box-shadow: 0px 2px 25px rgba(253, 254, 194, 0.8);
	-moz-box-shadow: 0px 2px 25px rgba(253, 254, 194, 0.8);
	box-shadow: 0px 2px 25px rgba(253, 254, 194, 0.8);
}


.notice input.sbutton {
	margin: 4px 0 7px 0;
	background-image: linear-gradient(bottom, rgb(27,115,59) 0%, rgb(29,187,85) 100%);
	background-image: -o-linear-gradient(bottom, rgb(27,115,59) 0%, rgb(29,187,85) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(27,115,59) 0%, rgb(29,187,85) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(27,115,59) 0%, rgb(29,187,85) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(27,115,59) 0%, rgb(29,187,85) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(27,115,59)),
		color-stop(1, rgb(29,187,85))
		);
		
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, .5);
	padding-left: 10px;
	padding-right: 10px;
	height: 44px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #000;
	cursor: pointer;
	-webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px 1px 1px rgba(255, 255, 255, 0.5);
	top: -1px;
	position: relative;			
}


.notice input.sbutton:hover {
	-webkit-box-shadow: 0px 2px 20px rgba(28, 180, 81, 0.8);
	-moz-box-shadow: 0px 2px 20px rgba(28, 180, 81, 0.8);
	box-shadow: 0px 2px 20px rgba(28, 180, 81, 0.8);
}





/* #Page Styles
================================================== */

/* forms */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]:focus {
	outline: none;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
textarea,
select {
	width: 100%;
}

.search input[type="search"],
.subscribe input[type="email"] {
	width: 70%;
	float: left;
	margin: 0;
}
.search button,
.subscribe button {
	width: 28%;
	float: right;
	margin: 0;
	padding: 7px 10px;
}

ul.categories {
	margin: 0;
}

ul.categories li {
	border-bottom: 1px dashed #e5e5e5;
	margin: 0;
}

ul.categories li a {
	text-decoration: none;
	line-height: 35px;
	display: block;
}

ul.categories li a:hover,
ul.categories li a:active {
	background: #fff;
}


/* =aside */

 .sub header {
	background: url(../img/patterndk.png) repeat;
	font-size: 14px;
	line-height: 1em;
	margin: 7px 0 7px 0;
	padding: 0 14px;
}

 .sub.partners {
	margin: 21px 0 7px 0;
}

.sub header h4 {
	font-size: 14px;
	text-transform: uppercase;
	line-height: 1em;
	color: #141414;
	background: url(../img/bgpage.png) repeat #f8f8f8;
	display: inline;
	padding: 0 14px;
}

.sub .badge {
	padding: 7px 0;
}

.sub .badge img {
	max-width: 100%;
	margin: 0%;
	padding: 6px;
	border: 1px solid #ededed;
	background: #fff;	
	
}


/* =start page
================================================== */


.hero {
	padding-top: 140px;
	width: 100%;
}


/* thanks to: Chris */
.hero img.logotype {
	max-width: 534px;
	max-height: 111px;
	display: block;
	margin: 0 auto;
}

.hero img.auth {
	width: 358px;
	height: 50px;
	display: block;
	margin: 70px auto 210px auto;
}

.hero img.auth:hover {
	-webkit-box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.3);
}

h3.lbutton {
	margin: 7px 0 210px 0;
	float: left;
}

h3.lbutton a {
	margin: 7px 0;
	padding: 0;
	width: 358px;
	height: 50px;
	display: block;
	background: url(../img/connect_evernote_button.png) no-repeat 0 0;
	
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
		
}

h3.lbutton a:hover {
	margin: 7px 0;
	padding: 0;
	width: 358px;
	height: 50px;
	display: block;
	background: url(../img/connect_evernote_button.png) no-repeat 0 0;
	
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	
	-webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
		
}


/* #confirmation page
================================================== */

body.confirm .confirmation {
	max-width: 100%;
	margin: 0%;
	padding: 14px;
	border: 1px solid #ededed;
	background: #fff;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}
body.confirm h2 {
	margin: 0 0 2px 0;
}

body.confirm h4 {
	font-size: 18px;
	margin: 2px 0 14px 0;
	position: absolute;
	font-weight: bold;
}

body.confirm .companylogo {
/*	text-align: right; */
}

body.confirm .summary {
	margin-top: 14px;
	font-size: 18px;
}

body.confirm .summary .highlight {
	font-weight: bold;
}

body.confirm .summary .ctitle {
	font-size: 28px;
	color: #fff;
	font-weight: bold;
	line-height: 1em;
	padding: 7px 0 7px 14px;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
	margin: 0 0 21px 0px;
	background: rgba(0,0,0,0.5);
}

body.confirm .summary .ctime,
body.confirm .summary .cdate {
	font-weight: bold;
}

body.confirm .icon {
	font-size: 28px;
	line-height: 28px;
	text-shadow: 0px 0px 5px rgba(247,247,247,1);
}

body.confirm .trademark {
	color: #366;
	font-weight: bold;
}

body.confirm .cpartsummary {
	font-size: 18px;
}

body.confirm .cpartsummarytxt {
	margin-bottom: 10px;
}

body.confirm li.cpart:first-child  {
	margin: 28px 0 14px 0;
}

body.confirm li.cpart  {
	margin: 14px 0 14px 0;
}

body.confirm li.cpart:last-child  {
	margin: 14px 0 28px 0;
}

body.confirm .summaryend a {
	font-weight: bold;
	text-decoration: none;
	color: #69aa35;
}

body.confirm .summaryend a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #5d972f;
}

body.confirm .summaryend {
	font-size: 14px;
	margin: 35px 0 0 0;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		nav ul {
			display: none;
		}
		
		.ffooter footer {
			text-align: center;
		}
		
		.ffooter footer .last-credit {
			text-align: center;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* animation 
// via Robert McIntosh http://cssnerd.com/2012/04/03/jquery-like-pure-css3-image-fade-in/
================================================== */

.fadeIn {
 
	/* CSS needed for animation
	---------------------------------------------------- */
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	-o-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
 
/* Animation Times - Time for image to fade in
---------------------------------------------------- */
.fadeIn-1s {
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
}
 
.fadeIn-05s {
	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	-o-animation-duration:.5s;
	animation-duration:.5s;
}
 
/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
.fadeIn-Delay-1s {
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	-o-animation-delay:1s;
	animation-delay:1s;
}
 
.fadeIn-Delay-02s {
	-webkit-animation-delay:.2s;
	-moz-animation-delay:.2s;
	-o-animation-delay:.2s;
	animation-delay:.2s;
}




/* Key Frames
---------------------------------------------------- */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }





/* #Font-Face
================================================== */

@font-face {
	font-family: 'WebSymbolsRegular';
	src: 	url("../fonts/websymbols/websymbols-regular-webfont.eot");
	src: 	url("../fonts/websymbols/websymbols-regular-webfont.eot?#iefix") format('embedded-opentype'),	
			url("../fonts/websymbols/websymbols-regular-webfont.woff") format('woff'),
			url("../fonts/websymbols/websymbols-regular-webfont.ttf") format('truetype'),
			url("../fonts/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular") format('svg');						
}


/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
		font-family: 'FontName';
		src: url('../fonts/FontName.eot');
		src: url('../fonts/FontName.eot?iefix') format('eot'),
			 url('../fonts/FontName.woff') format('woff'),
			 url('../fonts/FontName.ttf') format('truetype'),
			 url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
		font-weight: normal;
		font-style: normal; }
*/


